In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd 
import numpy as np

WARNING:tensorflow:From h:\DLprj\DeeEnv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# load the trained model, scaler pickel, onehot
model=load_model('model.h5')

# load the scaler and encoder
with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)
with open('label_encoder.pkl', 'rb') as f:
    label_encoder = pickle.load(f)
with open('one_hot_encoder.pkl', 'rb') as f:
    one_hot_encoder = pickle.load(f)

WARNING:tensorflow:From h:\DLprj\DeeEnv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male', 
    'Age':40,
    'Tenure':3, 
    'Balance':60000, 
    'NumOfProducts':2, 
    'HasCrCard':1,
    'IsActiveMember':1, 
    'EstimatedSalary':50000, 
       
}

In [4]:
geo_enco = one_hot_encoder.transform([[input_data['Geography']]]).toarray()
geo_enco_df = pd.DataFrame(geo_enco, columns=one_hot_encoder.get_feature_names_out(['Geography']))
# Scale the numerical features
geo_enco_df

h:\DLprj\DeeEnv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [5]:
input_df = pd.DataFrame([input_data])

In [6]:
input_df['Gender']= label_encoder.transform(input_df['Gender'])

In [7]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [8]:
# concate
input_df = pd.concat([input_df.drop(['Geography'], axis=1), geo_enco_df], axis=1)

In [9]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [ ]:
input_df =

In [13]:
input_df = input_df.rename(columns={
    'Geography_France': 'France',
    'Geography_Germany': 'Germany',
    'Geography_Spain': 'Spain'
})

In [14]:
# scaling 
input_scaled=scaler.transform(input_df)

In [15]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [16]:
prediction= model.predict(input_scaled)
prediction

1/1 [==============================] - 1s 1s/step

array([[0.02152547]], dtype=float32)

In [17]:
prediction_prob=prediction[0][0]

In [18]:
if prediction_prob > 0.5:
    print("The customer is likely to leave the bank.")
else:
    print("The customer is likely to stay with the bank.")

The customer is likely to stay with the bank.